@use "../variables" as v;
.asideContainer {
  font-weight: 400;
  line-height:  1.6rem; 
  letter-spacing: 0.1rem; 
  display: flex; 
  flex-direction: column;

  position: relative;
  left: 50px;
  overflow-x: clip;
  margin-top: 120px;
}


.asideImgContainer {
  transform: translate(20px, -40px);
}
.asideImg {
  box-shadow: -31px 20px 0px -9px v.$brightYellow;
}

.asideTextContainer {
  background-color: v.$brightYellow;
  transform: translate(0px, -50px);
  padding-left: 25px;
  padding-bottom: 20px;
}

.asideList {
  list-style-type: disc;
  list-style-position: inside;
}

.mission {
  padding-bottom: 20px;
}
