@use "../variables" as v;

.blogHeader {
  background-image: url(../assests/blog-image.jpg);
  background-size: cover;
  background-position: 15%;
  padding-bottom: 330px;
  h1 {
    margin-top: 130px;
  }
}