@use "../variables" as v;

.blogHeader {
  background-image: url(../assets/blog-image.jpg);
  background-size: cover;
  background-position: center;
  // height: 100vh;
  padding-bottom: 330px;
  h1 {
    margin-top: 130px;
  }
}