@use "../variables" as v;

.blogMain,
.formBackground {
  background-color: v.$ice;
}

.blogMainFlex {
  display: flex;
  justify-content: space-between;

  // table/mobile
  // flex-direction: column;

  .blogSection {
    // desktop
    width: 70%;

    // tablet/mobile
    // width: 100%;
  }
  .asideContainer {
    // desktop
    width: 30%

    // tablet and mobile
    // width: 100%;
  }
}

.blogArticle, 
.commentSection {
  padding-left: 100px;
  padding-right: 50px;
}