@use "../variables" as v;

.blogMain,
.formBackground {
  background-color: v.$ice;
}

.blogMainFlex {
  display: flex;
  justify-content: space-between;

  .blogSection {
    width: 70%;
  }
  .asideContainer {
    width: 30%;
  }
}

.blogArticle, 
.commentSection {
  padding-left: 100px;
  padding-right: 50px;
}