@use "../variables" as v;

.blogSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translate(-110px, 0px);
  position: relative;
}

.blogImgContainer {
  transform: translate(-25px, -160px);
  width: 97%;
  padding-left: 0px;
  position: absolute;
}

.blogImg {
  box-shadow:  30px 30px 0px -5px v.$brightYellow;
}


.blogTextContainer {
  padding-top: calc(120px + 20vw);
p {
  padding: 10px 0;
}
h2 {
  padding-top: 50px;
}
}

.blogArticle { 
  border-bottom: 10px solid v.$brightYellow;
  border-right: 10px solid v.$brightYellow;
  background-color: v.$white;
  padding-bottom: 50px; 
}