@use "../variables" as v;

// Contact information styles

.contactInfo {
  color: v.$evergreen;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(-65px);
  .contactIcons {
    display: flex;
    font-size: 1.2rem;
    .fa-brands {
      padding-right: 25px;
      &:hover,
      &:focus {
        transform: scale(1.2);
      }
    }
  }
  .contactEmail {
    padding: 30px 0;
    &:hover,
    &:focus {
      transform: scale(1.03);
    }
  }
}