@use "../variables" as v;


@media (max-width: 470px) {

// GENERAL
  h1 {
    font-size: 2.4rem;
  }

// HEADER
  .navBar {
    .logo {
      font-size: 0.9rem;
    }
    li {
      padding: 0px 15px;
    } 
  }


// INDEX
  .styleTextContainer.wrapper {
    padding: 30px 0;
  }

  .indexIconsSection,
  .materialsFlexContainer {
    padding: 30px 0;
  }

  .indexGallery {
    ul {
      padding: 40px 0;
      li {
        margin: 10px;
      }
    }
  }



// CONTACT
  form {
    .formFlex {
      input {
        padding: 15px 5px;
        font-size: 0.7rem; 
      }
    }
  }


  .contactInfo {
    line-height: 1.5rem;
  }

} //END