@use "../variables" as v;


@media (max-width: 1200px) {

  // BLOG
  .blogTextContainer {
    padding-top: 300px;
  }

  // CONTACT PAGE
  .contactPage {
    flex-direction: column;
  }
  
  .contactFormContainer {
    min-width: 98%;
    position: relative;
    left: 35px;
    box-shadow: none;
  }

  .contactInfo {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
  }

} // END