@use "./variables" as v;


// @media (max-width: 1280px) {
//   .blogTextContainer {
//     padding-top: 350px;
//   }
// }

@media (max-width: 1200px) {
  .blogTextContainer {
    padding-top: 300px;
  }
  // CONTACT PAGE
  .contactPage {
    flex-direction: column;
  }
  .contactFormContainer {
    min-width: 98%;
    position: relative;
    left: 35px;
    box-shadow: none;

  }

  .contactInfo {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
  }

}

@media (max-width: 1100px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */

  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1.55rem
  }

  h3 {
    font-size: 1.2rem
  }

  //HEADER
  .headerNav {
    font-size: 0.85rem;
  }

  .indexHeader {
    background-position: center;
    padding-bottom: 400px;
    h1 {
      padding-left: 20px;
    }
    .blueChairsContainer {
      visibility: hidden;
    }
  }

  .blogHeader {
    padding-bottom: 280px;
  }

  // INDEX
  .materialsFlexContainer {
    padding: 80px 0;
  }

  .materialsImgContainer {
    align-self: flex-start;
  }

  .indexIconsSection {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .iconsTextContainer {
      width: 85%;
    }
  }

  .indexIconsSection {
    h2 {
      margin-bottom: 10px;
    }
  }

  .iconsMarginBottom {
    margin-bottom: 30px;

  }

  .indexSearchStyle {
    .styleTextContainer {
      padding: 90px 0;
    }
    }
  
    .indexIconsSection,
    .materialsFlexContainer  {
      padding: 70px 0;
    }

    .indexGallery {
      ul {
        li {
          padding: 80px 0;
        }
      }
    }


  .blogImgContainer {
    background-color: v.$white;
    width: 100%;
    display: flex;
    justify-content: center;
    position: static;
    transform: translate(0, 0);
  }

  .blogImg {
    width: 85%;
    justify-self: center;
  }

  .blogMainFlex {
    flex-direction: column;
    .blogSection {
      width: 100%;
      transform: translate(0, 0);
    }
    .asideContainer {
      transform: translate(0, 0);
      width: 100%;
      flex-direction: row;
      // border: 2px solid blue;
      position: static;  
    }
  }

  .asideTextContainer, 
  .asideImgContainer {
    transform: translate(0, 0);
    position: static;
    padding-bottom: 10px;
    background-color: v.$ice;
  }

  .asideImgContainer {
    width: 45%;
  }

  .asideTextContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 0.85rem;
  }

  .asideImg {
    box-shadow: none;
    border-left: 10px solid v.$brightYellow;
    border-bottom: 10px solid v.$brightYellow;
  }

  .mission {
    padding-bottom: 0;
    width: 50%;
    padding-right: 25px;
  }

  h3 {
    padding-bottom: 2px;
  }

  span {
    border-bottom: 5px solid v.$brightYellow;
  }


  .blogArticle {
    border-right: none;
  }

  .blogArticle, 
.commentSection {
  padding: 0 70px;
}


.blogTextContainer {
  padding-top: 15px;
}


  // FORMS
  .formFlex {
    width: 100%;
    input {
      display: flex;
      min-width: 40%;  
      font-size: 0.9rem;
    }
  }


  button {
    &:hover, 
    &:focus {
      transform: scale(1.02);
    }
  }

  // FOOTER 
  footer {
    font-size: 0.7rem;
    padding: 5px;
  }

  // .materialsFlexContainer { 
  //   .wrapper {
      // align-items: center;
      // justify-content: center;
      // align-self: flex-start;
  //   }
  // }

  .materialsImgContainer {
    align-self: center;
  }

  
} // END MEDIA QUERY 1100 PX ----------------------------------------------
@media (max-width: 940px) {
  h3 {
  font-size: 1.1rem;
}

.materialsImgContainer {
  display: none;
}

.materialsFlexContainer { 
  .wrapper {
    .materialsTextContainer {
      margin-right: 0;
      align-items: center;
      text-align: center;
      p {
        margin-bottom: 15px;
      }
    }
  }
}

.indexSearchStyle {
  .styleTextContainer {
    padding: 70px 0;
  }
  }




.asideTextContainer {
  font-size: 0.8rem;

}

  .asideImgContainer {
    width: 50%; 
  }

}


@media (max-width: 865px) {
  /* all of our styles for TABLET devices will go within this breakpoint */

  // NAV BAR
  .navBar {
    flex-direction: column;
    .logo {
      font-size: 1rem;
    }
    ul {
      .contactLi {
        padding-right: 25px;
      }
    }
  }

  .logo {
    text-align: center;
    margin-bottom: 15px;
  }

  .homeLogo {
    position: absolute;
  }

  h1 {
    font-size: 3.1rem;
    text-align: center;
    padding-left: 0;
  }

  .blogHeader {
    background-position: 20%;
  }

  header {
    padding-left: 0;
  }

  .indexHeader {
    margin-top: 15px;
  }


  //BLOG 
  .blogImg {
    box-shadow:  20px 20px 0px 0px v.$brightYellow;
  }

  .asideImgContainer {
    display: none;
  }
  .asideTextContainer {
    justify-content: space-evenly;
    padding: 0 35px;
  }

  .blogArticle,
  .commentSection {
    padding: 0 55px;
  }

  // CONTACT

  .contactHeader {
    padding-bottom: 250px;
  }

  .contactFormContainer {
    min-width: 98%;
    left: 35px;
    top: 50px;
    padding: 30px 40px 40px;
    height: 550px;
  }



} // END MEDIA QUERY 865 PX ----------------------------------------------

@media (max-width: 775px) {


  body {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .indexGallery {
    ul {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 40px 0;
      li {
        width: 50%;
        margin: 20px;
        padding: 0;
      }
    }
  }


  // BLOG
  .comment2 {
    margin-top: 70px;
  }

  .indexHeader {
    padding-bottom: 400px;
    background-position: 50% 0%;
  }

  .blogArticle,
  .commentSection {
    padding: 0 45px;
  }

  .asideTextContainer {
    padding: 0 30px;
  }




  //CONTACT

  form {
    .formFlex {
      input {
        padding: 15px 20px;
        font-size: 0.8rem; 
      }
    }
  }

  .contactInfo {
    font-size: 0.82rem;
    .contactIcons {
      font-size: 1rem;
    }
  }

  .contactFormContainer {
    padding: 20px 35px;
    margin: 0px;
    height: 500px;
    textarea {
      padding: 25px;
      margin: 0;
    }
  }

  button {
    margin-top: 10px;
  }

  button.submit {
    margin-top: 0;
  }


} // END MEDIA QUERY 775PX --------------------------

@media (max-width: 655px) { 
  .headerNav {
    font-size: 0.7rem;
    li {
      padding: 0px 25px;
    }
  } 

  h1 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 0.9rem;
  }
  .contactHeader {
    padding-bottom: 200px;
    h1 {
      margin-top: 100px;
    }
  }

  // index
  .iconsTextContainer {
    display: flex;
    // flex-direction: column;
    .flextest {
      width: 15%;
      // border: 2px solid pink;
      // align-self: center;
    }
    .flextest2 {
      width: 80%;
      // border: 2px solid lightblue;
      padding-left: 10px;
    }
  }

  .indexSearchStyle {
    .styleTextContainer {
      text-align: center;
      p {
        text-align: center;
      }
    }
  }

  


  // blog

  .blogHeader {
    padding-bottom: 250px;
    background-position: 30%;
  }

  .asideTextContainer {
    padding: 0px 15px;
    font-size: 0.7rem;
  }

  // contact

  .contactFormContainer {
    min-width: 100%;
    left: 25px;
    top: 90px;
    box-shadow: none;
  }

  .contactFormContainer {
    padding: 0 40px 25px;
    height: 400px;

  }

  .contactInfo {
    font-size: 0.75rem;
    flex-direction: column;
    text-align: center;
    margin-top: 40px;
    .contactEmail {
      border-bottom: 5px solid yellow;
      margin-bottom: 15px;
      padding: 25px 0 20px;
    }
    .contactIcons {
      .fa-whatsapp {
        padding-right: 0px;
      }
    }
  }


  button.commentButton {
    font-size: 0.7rem;
  }

  button.submit {
    margin-top: 15px;
  }

form {
  .formFlex {
    margin: 10px 0;
    input {
      margin-bottom: 10px;
      font-size: 0.7rem;
    }
  }
}

form.blogForm,
form.contactFormContainer {
  textarea {
    font-size: 0.7rem;
  }
}

.iconsTextContainer {
  .flexTest2 {
    margin-left: 20px;
  }
}


} // END MEDIA QUERY 655 PX ----------------------------------------------


@media (max-width: 550px) {

  .blogHeader {
    padding-bottom: 250px;
    background-position: 40%;
  }

  h2 {
    font-size: 1.2rem;
  }

  body {
    font-size: 0.7rem;
    line-height: 1.4rem;
  }
}

.asideTextContainer {
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  .mission {
    padding-right: 0;
  }
}

.commentSection {
  padding: 0 20px;
}

.blogArticle {
  padding: 0 30px;
}

// -------------------------



@media (max-width: 470px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */

  .contactInfo {
    line-height: 1.5rem;
  }

  .styleTextContainer.wrapper {
    padding: 50px 0;
  }

  .indexIconsSection,
  .materialsFlexContainer {
    padding: 50px 0;
  }


  .indexGallery {
    ul {
      padding: 40px 0;
      li {
        margin: 10px;
      }
    }
  }

  .contactFormContainer {
    padding: 0 25px 25px;
  }


}
