@use "./variables" as v;

@media (max-width: 1300px) {

}

@media (max-width: 1100px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */

  //HEADER
  .headerNav {
    font-size: 0.85rem;
  }
  
  .blogHeader {
    padding-bottom: 300px;
  }


  // BLOG 
  .blogHeader {
    background-position: left;
  }

  .blogImgContainer {
    width: 75%;
  }

  .blogMainFlex {
    flex-direction: column;
    .blogSection {
      width: 100%;
      transform: translate(0, 0);
    }
    .asideContainer {
      transform: translate(0, 0);
      width: 100%;
      flex-direction: row;
      border: 2px solid blue;
      position: static;  
    }
  }

  .asideTextContainer, 
  .asideImgContainer {
    transform: translate(0, 0);
    position: static;
    padding-bottom: 0;
    background-color: v.$white;

  }
  .asideImgContainer {
    width: 45%;
  }

  .asideImg {
    box-shadow: none;
  }

  .mission {
    padding-bottom: 0;
  }

  h3 {
    padding-bottom: 2px;
  }

  span {
    border-bottom: 5px solid v.$brightYellow;
  }
  


  .blogArticle {
    border-right: none;
  }

  .blogArticle, 
.commentSection {
  padding: 0 60px;
}

.blogImgContainer {
  left: 130px;
}


  // CONTACT PAGE
  .contactPage {
    flex-direction: column;
  }
  .contactFormContainer {
    min-width: 98%;
    position: relative;
    left: 23px;
  }

  .contactInfo {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
  }

  // FORMS
  .formFlex {
    flex-direction: column;
    width: 100%;
    input {
      min-width: 100%;  
      font-size: 0.9rem;
    }
  }

  form {
    input::placeholder,
    textarea::placeholder {
    opacity: 0.5;
    }
  }

  button {
    &:hover, 
    &:focus {
      transform: scale(1.02);
    }
  }

  // FOOTER 
  footer {
    font-size: 0.8rem;
    padding: 5px;
  }
} // END MEDIA QUERY 1100 PX ----------------------------------------------

@media (max-width: 865px) {
  /* all of our styles for TABLET devices will go within this breakpoint */

  // NAV BAR
  .navBar {
    flex-direction: column;
    ul {
      .contactLi {
        padding-right: 25px;
      }
    }
  }

  .logo {
    text-align: center;
    margin-bottom: 15px;
  }

  .homeLogo {
    position: absolute;
  }

  header {
    padding-left: 0;
  }

  h1 {
    text-align: center;
  }


  //BLOG 
  .blogHeader {
    background-position: left;
    padding-bottom: 260px;
  }

  // CONTACT

  .contactHeader {
    padding-bottom: 250px;
  }

  .contactFormContainer {
    min-width: 98%;
    left: 23px;
  }

  .contactInfo {
    font-size: 0.8rem;
  }


} // END MEDIA QUERY 865 PX ----------------------------------------------

@media (max-width: 655px) { 
  .headerNav {
    font-size: 0.7rem;
    li {
      padding: 0px 25px;
    }
  } 
} // END MEDIA QUERY 655 PX ----------------------------------------------







@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}