@use "./variables" as v;


// @media (max-width: 1280px) {
//   .blogTextContainer {
//     padding-top: 350px;
//   }
// }

@media (max-width: 1200px) {
  .blogTextContainer {
    padding-top: 300px;
  }
  // CONTACT PAGE
  .contactPage {
    flex-direction: column;
  }
  .contactFormContainer {
    min-width: 98%;
    position: relative;
    left: 23px;
  }

  .contactInfo {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
  }

}

@media (max-width: 1100px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */

  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  h2 {
    font-size: 1.55rem
  }

  h3 {
    font-size: 1.2rem
  }

  //HEADER
  .headerNav {
    font-size: 0.85rem;
  }

  .indexHeader {
    background-position: center;
    padding-bottom: 400px;
    h1 {
      padding-left: 20px;
    }
    .blueChairsContainer {
      visibility: hidden;
    }
  }

  .blogHeader {
    padding-bottom: 280px;
  }

  // INDEX
  .materialsFlexContainer {
    padding: 80px 0;
  }

  .indexIconsSection {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .iconsTextContainer {
      width: 85%;
    }
  }

  .iconsMarginBottom {
    margin-bottom: 30px;

  }

  .indexSearchStyle {
    .styleTextContainer {
      padding: 90px 0;
    }
    }
  
    .indexIconsSection,
    .materialsFlexContainer  {
      padding: 60px 0;
    }

    .indexGallery {
      ul {
        li {
          padding: 80px 0;
        }
      }
    }


  .blogImgContainer {
    background-color: v.$white;
    width: 100%;
    display: flex;
    justify-content: center;
    position: static;
    transform: translate(0, 0);
  }

  .blogImg {
    width: 85%;
    justify-self: center;
  }

  .blogMainFlex {
    flex-direction: column;
    .blogSection {
      width: 100%;
      transform: translate(0, 0);
    }
    .asideContainer {
      transform: translate(0, 0);
      width: 100%;
      flex-direction: row;
      // border: 2px solid blue;
      position: static;  
    }
  }

  .asideTextContainer, 
  .asideImgContainer {
    transform: translate(0, 0);
    position: static;
    padding-bottom: 10px;
    background-color: v.$white;
  }

  .asideImgContainer {
    width: 45%;
    background-color: v.$white;
  }

  .asideTextContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 0.85rem;
  }

  .asideImg {
    box-shadow: -10 -10 0 -4 yellow;
    border-left: 10px solid yellow;
  }

  .mission {
    padding-bottom: 0;
    width: 50%;
    padding-right: 25px;
  }

  h3 {
    padding-bottom: 2px;
  }

  span {
    border-bottom: 5px solid v.$brightYellow;
  }
  


  .blogArticle {
    border-right: none;
  }

  .blogArticle, 
.commentSection {
  padding: 0 70px;
}


.blogTextContainer {
  padding-top: 15px;
}


  // FORMS
  .formFlex {
    width: 100%;
    input {
      display: flex;
      min-width: 40%;  
      font-size: 0.9rem;
    }
  }


  button {
    &:hover, 
    &:focus {
      transform: scale(1.02);
    }
  }

  // FOOTER 
  footer {
    font-size: 0.7rem;
    padding: 5px;
  }
} // END MEDIA QUERY 1100 PX ----------------------------------------------
@media (max-width: 940px) {
  h3 {
  font-size: 1.1rem;
}

.asideTextContainer {
  font-size: 0.8rem;

}

  .asideImgContainer {
    width: 50%; 
  }

}

// @media (max-width: 800px) {
//   .asideTextContainer {
//     flex-direction: column;
//     width: 90%;
//     padding-left: 20px;
//     justify-content: space-evenly;
//     font-size: 0.8rem;

//   }

//   .asideImgContainer {
//     width: 100%; 
//   }

//   .mission {
//     width: 100%;
//     padding-right: 0px;
//   }
// }

// h3 {
//   font-size: 1.1rem;
// }

@media (max-width: 865px) {
  /* all of our styles for TABLET devices will go within this breakpoint */

  // NAV BAR
  .navBar {
    flex-direction: column;
    ul {
      .contactLi {
        padding-right: 25px;
      }
    }
  }

  .logo {
    text-align: center;
    margin-bottom: 15px;
  }

  .homeLogo {
    position: absolute;
  }

  header {
    padding-left: 0;
  }

    .blogHeader,
    .contactHeader {
      h1 {
        text-align: center;
      }
    }



  // INDEX
  .indexSearchStyle {
  .styleTextContainer {
    padding: 70px 0;
  }
  }

  .indexIconsSection,
  .materialsFlexContainer  {
    padding: 50px 0;
  }

  //BLOG 
  .blogImg {
    box-shadow:  20px 20px 0px 0px v.$brightYellow;
  }


  // CONTACT

  .contactHeader {
    padding-bottom: 250px;
  }

  .contactFormContainer {
    min-width: 98%;
    left: 23px;
    padding: 30px 40px 40px;
    height: 550px;
  }


  .contactFormContainer {
    box-shadow: 20px 20px 0px -4px v.$brightYellow;
  }


  .asideImgContainer {
    display: none;
  }
  .asideTextContainer {
    justify-content: space-evenly;
  }


} // END MEDIA QUERY 865 PX ----------------------------------------------

@media (max-width: 775px) {


  body {
    font-size: 0.8rem;
  }

  h1 {
    font-size: 3.1rem;
  }

  h2 {
    font-size: 1.45rem;
  }

  h3 {
    font-size: 1rem;
  }



  //INDEX
  .materialsFlexContainer {
    .wrapper {
      flex-direction: column-reverse;

      .materialsTextContainer {
        width: 100%;
        margin-right: 0;
        align-items: center;
      }
      .materialsImgContainer {
        // width: 80%;
        margin-bottom: 50px;

      }
    }
  }


  // BLOG
  .comment2 {
    margin-top: 70px;
  }

  .blogHeader {
    padding-bottom: 260px;
  }

  .indexHeader {
    padding-bottom: 390px;
    background-position: center;
  }

  //CONTACT

  form {
    .formFlex {
      input {
        padding: 15px 20px;
        font-size: 0.8rem; 
      }
    }
  }

  .contactInfo {
    font-size: 0.82rem;
    .contactIcons {
      font-size: 1rem;
    }
  }

  .contactFormContainer {
    padding: 20px 35px;
    margin: 0px;
    height: 500px;
    textarea {
      padding: 25px;
      margin: 0;
    }
  }

  button.submit {
    margin-top: 0;
  }

  // button {
  //   font-size: smaller;
  // }



} // END MEDIA QUERY 775PX --------------------------

@media (max-width: 655px) { 
  .headerNav {
    font-size: 0.7rem;
    li {
      padding: 0px 25px;
    }
  } 


} // END MEDIA QUERY 655 PX ----------------------------------------------







@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}