// COLOURS 
// bright yellow: #F8FB05; 
// evergreen: #065635; 
// white: #F5F5F5; 
// ice: #E0FDDF;
// black: #151514;


// Colour variables
$brightYellow: #F8FB05; 
$evergreen: #065635;
$evergreenHover:  rgba(6,86,53, 0.9);
$white: #F5F5F5;
$ice: #E0FDDF;
$black: #151514;


// Font families 
$kumarOneOutline: "Kumar One Outline", cursive;
$kumarOne: "Kumar One", cursive;
$lato: "Lato", sans-serif;


$bold: bold; 