@use "../variables" as v;

.indexHeader {
  background: url(../assests/header-home.jpg) center;
  padding-bottom: 470px;
  background-size: cover;
  background-position: right;
  position: relative;
  height: auto; 
  h1 {
    padding-top: 10px;
    padding-left: 55px;
  }
  .blueChairsContainer {
    position: absolute;
    border: 2px solid green;
    transform: translate(-260px, 55px);
    display: flex;
    .blueChairs {
      flex-basis: auto;
      flex-shrink: 1.5;
    }
  }
}