@use "../variables" as v;

.materialsFlexContainer {
  // border: 5px solid blue;
  padding-bottom: 140px;
  padding-top: 290px;
  display: flex;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 5px solid red;
    align-self: flex-end;
    .materialsTextContainer {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 1 auto;
      margin-right: 70px;
    .materialsImgContainer {
      width: 40%;
      display: flex;
      flex: 1 3 auto;

      }
    }
  }
}

.materialsImg {
  box-shadow: -15px 15px v.$brightYellow;
  }

