
// Search by style section
.indexSearchStyle {
  .styleTextContainer {
    text-align: center;
    padding: 150px 0;
    p {
      text-align: left;
      margin-bottom: 10px;
    }
  }
  .styleImg {
    width: 100%;
    }
}