html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul, li, a, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

button {
  background-color: #065635;
  color: #F5F5F5;
  letter-spacing: 0.05rem;
  text-align: center;
  border: 0;
  padding: 15px 20px;
  margin-top: 20px;
}
button:hover, button:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(6, 86, 53, 0.9);
}

.bold:hover, .bold:focus {
  font-weight: bold;
}

header {
  padding-left: 30px;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #151514;
}

h1,
h2,
h3,
nav,
.logo,
button {
  text-transform: uppercase;
}

h2,
h3,
.logo,
button {
  font-family: "Kumar One", cursive;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 3.4rem;
  line-height: 3.2rem;
  font-weight: lighter;
}

h2 {
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 0.105rem;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin: 20px 0;
}

p {
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

nav {
  font-weight: 700;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0 0;
  padding-bottom: 30px;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
form .formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .formFlex input {
  display: inline-block;
  border: none;
  border-bottom: 2px solid #151514;
  width: 45%;
  padding: 20px 40px 25px;
}
form textarea {
  border: 2px solid #151514;
  margin: 40px 0 20px;
  padding: 40px 40px;
  resize: none;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}
form input::placeholder,
form textarea::placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  width: 100%;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
}
.navBar li {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 3 auto;
          flex: 1 3 auto;
}
.navBar li:hover, .navBar li:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.navBar .contactLi {
  padding-right: 0;
}
.navBar .navUnderline {
  border-bottom: 5px solid #F8FB05;
}
.navBar .logo {
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 0.06rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 3 30%;
          flex: 1 3 30%;
}

.homeLogo {
  visibility: hidden;
}

.indexHeader {
  background: url(../assests/header-home.jpg) center;
  padding-bottom: 470px;
  background-size: cover;
  background-position: right;
  position: relative;
}
.indexHeader h1 {
  padding-top: 10px;
  padding-left: 55px;
}
.indexHeader .blueChairsContainer {
  position: absolute;
  border: 2px solid green;
  -webkit-transform: translate(-260px, 55px);
          transform: translate(-260px, 55px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.indexHeader .blueChairsContainer .blueChairs {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: 1.5;
      flex-shrink: 1.5;
}

.blogHeader {
  background-image: url(../assests/blog-image.jpg);
  background-size: cover;
  background-position: 15%;
  padding-bottom: 330px;
}
.blogHeader h1 {
  margin-top: 130px;
}

.contactHeader {
  background: url(../assests/contact-image.jpg) no-repeat center;
  background-size: cover;
  background-position: 20%;
  padding-bottom: 280px;
}
.contactHeader h1 {
  margin-top: 130px;
}

.materialsFlexContainer {
  padding-bottom: 140px;
  padding-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.materialsFlexContainer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.materialsFlexContainer .wrapper .materialsTextContainer {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 70px;
}
.materialsFlexContainer .wrapper .materialsTextContainer .materialsImgContainer {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 3 auto;
          flex: 1 3 auto;
}

.materialsImg {
  -webkit-box-shadow: -15px 15px #F8FB05;
          box-shadow: -15px 15px #F8FB05;
}

.indexGallery {
  background-color: #E0FDDF;
}
.indexGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.indexGallery ul li {
  width: 31%;
  padding: 100px 0;
}

.indexIconsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}
.indexIconsSection .iconsTextContainer {
  width: 50%;
}
.indexIconsSection .iconsTextContainer .indexIconImg {
  text-align: center;
  line-height: 25px;
}
.indexIconsSection .iconsTextContainer .indexIconImg,
.indexIconsSection .iconsTextContainer .indexSvgImg {
  font-size: 24px;
  background-color: #F8FB05;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.indexSvgImg {
  max-height: 50px;
  min-width: 50px;
}

.iconsMarginBottom {
  margin-bottom: 60px;
}

.iconsTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.iconsTextContainer .flextest {
  width: 10%;
}
.iconsTextContainer .flextest2 {
  width: 90%;
  padding-left: 10px;
}

.indexSearchStyle .styleTextContainer {
  text-align: center;
  padding: 150px 0;
}
.indexSearchStyle .styleTextContainer p {
  text-align: left;
  margin-bottom: 10px;
}
.indexSearchStyle .styleImg {
  width: 100%;
}

.blogMain,
.formBackground {
  background-color: #E0FDDF;
}

.blogMainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogMainFlex .blogSection {
  width: 70%;
}
.blogMainFlex .asideContainer {
  width: 30%;
}

.blogArticle,
.commentSection {
  padding-left: 100px;
  padding-right: 50px;
}

.blogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transform: translate(-110px, 0px);
          transform: translate(-110px, 0px);
  position: relative;
}

.blogImgContainer {
  -webkit-transform: translate(-25px, -160px);
          transform: translate(-25px, -160px);
  width: 97%;
  padding-left: 0px;
  position: absolute;
}

.blogImg {
  -webkit-box-shadow: 30px 30px 0px -5px #F8FB05;
          box-shadow: 30px 30px 0px -5px #F8FB05;
}

.blogTextContainer {
  padding-top: calc(120px + 20vw);
}
.blogTextContainer p {
  padding-bottom: 20px;
}
.blogTextContainer h2 {
  padding-top: 50px;
}

.blogArticle {
  border-bottom: 10px solid #F8FB05;
  border-right: 10px solid #F8FB05;
  background-color: #F5F5F5;
  padding-bottom: 80px;
}

.commentSection {
  padding-bottom: 70px;
}
.commentSection h2 {
  margin: 50px 0 30px;
}

.comment1,
.comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment2 {
  margin-bottom: 60px;
  margin-top: 80px;
}

.comment1ImgContainer,
.comment2ImgContainer {
  min-width: 15%;
}

.comment1TextContainer,
.comment2TextContainer {
  padding-left: 25px;
}

.commentDate {
  text-transform: uppercase;
  font-weight: 700;
}

.asideContainer {
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: 50px;
  overflow-x: clip;
  margin-top: 120px;
}

.asideImgContainer {
  -webkit-transform: translate(20px, -40px);
          transform: translate(20px, -40px);
}

.asideImg {
  -webkit-box-shadow: -31px 20px 0px -9px #F8FB05;
          box-shadow: -31px 20px 0px -9px #F8FB05;
}

.asideTextContainer {
  background-color: #F8FB05;
  -webkit-transform: translate(0px, -50px);
          transform: translate(0px, -50px);
  padding-left: 25px;
  padding-bottom: 20px;
}

.asideList {
  list-style-type: disc;
  list-style-position: inside;
}

.mission {
  padding-bottom: 20px;
}

.mainContact {
  background-color: #E0FDDF;
}
.mainContact .contactPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactFormContainer {
  background-color: #F5F5F5;
  -webkit-box-shadow: 30px 30px 0px -10px #F8FB05;
          box-shadow: 30px 30px 0px -10px #F8FB05;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 570px;
  padding: 50px 60px 40px;
  -webkit-transform: translate(-25px, -170px);
          transform: translate(-25px, -170px);
}
.contactFormContainer input,
.contactFormContainer textarea {
  background-color: #F5F5F5;
}
.contactFormContainer textarea {
  padding: 40px 30px;
}

.contactInfo {
  color: #065635;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
}
.contactInfo .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}
.contactInfo .contactIcons .fa-brands {
  padding-right: 25px;
}
.contactInfo .contactIcons .fa-brands:hover, .contactInfo .contactIcons .fa-brands:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.contactInfo .contactEmail {
  padding: 25px 0 45px;
}
.contactInfo .contactEmail:hover, .contactInfo .contactEmail:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

footer {
  background-color: #151514;
  color: #F5F5F5;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1200px) {
  .blogTextContainer {
    padding-top: 300px;
  }
  .contactPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFormContainer {
    min-width: 98%;
    position: relative;
    left: 35px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactInfo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 0.9rem;
  }
}
@media (max-width: 1100px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
  body {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 1.55rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .headerNav {
    font-size: 0.85rem;
  }
  .indexHeader {
    background-position: center;
    padding-bottom: 400px;
  }
  .indexHeader h1 {
    padding-left: 20px;
  }
  .indexHeader .blueChairsContainer {
    visibility: hidden;
  }
  .blogHeader {
    padding-bottom: 280px;
  }
  .materialsFlexContainer {
    padding: 80px 0;
  }
  .materialsImgContainer {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .indexIconsSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .indexIconsSection .iconsTextContainer {
    width: 85%;
  }
  .indexIconsSection h2 {
    margin-bottom: 10px;
  }
  .iconsMarginBottom {
    margin-bottom: 30px;
  }
  .indexSearchStyle .styleTextContainer {
    padding: 90px 0;
  }
  .indexIconsSection,
.materialsFlexContainer {
    padding: 70px 0;
  }
  .indexGallery ul li {
    padding: 80px 0;
  }
  .blogImgContainer {
    background-color: #F5F5F5;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .blogImg {
    width: 85%;
    justify-self: center;
  }
  .blogMainFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogMainFlex .blogSection {
    width: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .blogMainFlex .asideContainer {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
  }
  .asideTextContainer,
.asideImgContainer {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    position: static;
    padding-bottom: 10px;
    background-color: #E0FDDF;
  }
  .asideImgContainer {
    width: 45%;
  }
  .asideTextContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 50px;
    font-size: 0.85rem;
  }
  .asideImg {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-left: 10px solid #F8FB05;
    border-bottom: 10px solid #F8FB05;
  }
  .mission {
    padding-bottom: 0;
    width: 50%;
    padding-right: 25px;
  }
  h3 {
    padding-bottom: 2px;
  }
  span {
    border-bottom: 5px solid #F8FB05;
  }
  .blogArticle {
    border-right: none;
  }
  .blogArticle,
.commentSection {
    padding: 0 70px;
  }
  .blogTextContainer {
    padding-top: 15px;
  }
  .formFlex {
    width: 100%;
  }
  .formFlex input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 40%;
    font-size: 0.9rem;
  }
  button:hover, button:focus {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  footer {
    font-size: 0.7rem;
    padding: 5px;
  }
  .materialsImgContainer {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 940px) {
  h3 {
    font-size: 1.1rem;
  }
  .materialsImgContainer {
    display: none;
  }
  .materialsFlexContainer .wrapper .materialsTextContainer {
    margin-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .materialsFlexContainer .wrapper .materialsTextContainer p {
    margin-bottom: 15px;
  }
  .indexSearchStyle .styleTextContainer {
    padding: 70px 0;
  }
  .asideTextContainer {
    font-size: 0.8rem;
  }
  .asideImgContainer {
    width: 50%;
  }
}
@media (max-width: 865px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
  .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navBar .logo {
    font-size: 1rem;
  }
  .navBar ul .contactLi {
    padding-right: 25px;
  }
  .logo {
    text-align: center;
    margin-bottom: 15px;
  }
  .homeLogo {
    position: absolute;
  }
  h1 {
    font-size: 3.1rem;
    text-align: center;
    padding-left: 0;
  }
  .blogHeader {
    background-position: 20%;
  }
  header {
    padding-left: 0;
  }
  .indexHeader {
    margin-top: 15px;
  }
  .blogImg {
    -webkit-box-shadow: 20px 20px 0px 0px #F8FB05;
            box-shadow: 20px 20px 0px 0px #F8FB05;
  }
  .asideImgContainer {
    display: none;
  }
  .asideTextContainer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 35px;
  }
  .blogArticle,
.commentSection {
    padding: 0 55px;
  }
  .contactHeader {
    padding-bottom: 250px;
  }
  .contactFormContainer {
    min-width: 98%;
    left: 35px;
    top: 50px;
    padding: 30px 40px 40px;
    height: 550px;
  }
}
@media (max-width: 775px) {
  body {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .indexGallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 0;
  }
  .indexGallery ul li {
    width: 50%;
    margin: 20px;
    padding: 0;
  }
  .comment2 {
    margin-top: 70px;
  }
  .indexHeader {
    padding-bottom: 400px;
    background-position: 50% 0%;
  }
  .blogArticle,
.commentSection {
    padding: 0 45px;
  }
  .asideTextContainer {
    padding: 0 30px;
  }
  form .formFlex input {
    padding: 15px 20px;
    font-size: 0.8rem;
  }
  .contactInfo {
    font-size: 0.82rem;
  }
  .contactInfo .contactIcons {
    font-size: 1rem;
  }
  .contactFormContainer {
    padding: 20px 35px;
    margin: 0px;
    height: 500px;
  }
  .contactFormContainer textarea {
    padding: 25px;
    margin: 0;
  }
  button {
    margin-top: 10px;
  }
  button.submit {
    margin-top: 0;
  }
}
@media (max-width: 655px) {
  .headerNav {
    font-size: 0.7rem;
  }
  .headerNav li {
    padding: 0px 25px;
  }
  h1 {
    font-size: 2.7rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  .contactHeader {
    padding-bottom: 200px;
  }
  .contactHeader h1 {
    margin-top: 100px;
  }
  .iconsTextContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .iconsTextContainer .flextest {
    width: 15%;
  }
  .iconsTextContainer .flextest2 {
    width: 80%;
    padding-left: 10px;
  }
  .indexSearchStyle .styleTextContainer {
    text-align: center;
  }
  .indexSearchStyle .styleTextContainer p {
    text-align: center;
  }
  .blogHeader {
    padding-bottom: 250px;
    background-position: 30%;
  }
  .asideTextContainer {
    padding: 0px 15px;
    font-size: 0.7rem;
  }
  .contactFormContainer {
    min-width: 100%;
    left: 25px;
    top: 90px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .contactFormContainer {
    padding: 0 40px 25px;
    height: 400px;
  }
  .contactInfo {
    font-size: 0.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-top: 40px;
  }
  .contactInfo .contactEmail {
    border-bottom: 5px solid yellow;
    margin-bottom: 15px;
    padding: 25px 0 20px;
  }
  .contactInfo .contactIcons .fa-whatsapp {
    padding-right: 0px;
  }
  button.commentButton {
    font-size: 0.7rem;
  }
  button.submit {
    margin-top: 15px;
  }
  form .formFlex {
    margin: 10px 0;
  }
  form .formFlex input {
    margin-bottom: 10px;
    font-size: 0.7rem;
  }
  form.blogForm textarea,
form.contactFormContainer textarea {
    font-size: 0.7rem;
  }
  .iconsTextContainer .flexTest2 {
    margin-left: 20px;
  }
}
@media (max-width: 550px) {
  .blogHeader {
    padding-bottom: 250px;
    background-position: 40%;
  }
  h2 {
    font-size: 1.2rem;
  }
  body {
    font-size: 0.7rem;
    line-height: 1.4rem;
  }
}
.asideTextContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}
.asideTextContainer .mission {
  padding-right: 0;
}

.commentSection {
  padding: 0 20px;
}

.blogArticle {
  padding: 0 30px;
}

@media (max-width: 470px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
  .contactInfo {
    line-height: 1.5rem;
  }
  .styleTextContainer.wrapper {
    padding: 50px 0;
  }
  .indexIconsSection,
.materialsFlexContainer {
    padding: 50px 0;
  }
  .indexGallery ul {
    padding: 40px 0;
  }
  .indexGallery ul li {
    margin: 10px;
  }
  .contactFormContainer {
    padding: 0 25px 25px;
  }
}