html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

ul, li, a, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

button {
  background-color: #065635;
  color: #F5F5F5;
  letter-spacing: 0.05rem;
  text-align: center;
  border: 0;
  padding: 15px 20px;
  margin-top: 20px;
}
button:hover, button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(6, 86, 53, 0.9);
}

.bold:hover, .bold:focus {
  font-weight: bold;
}

header {
  padding-left: 30px;
}

html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #151514;
}

h1,
h2,
h3,
nav,
.logo,
button {
  text-transform: uppercase;
}

h2,
h3,
.logo,
button {
  font-family: "Kumar One", cursive;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 3.4rem;
  line-height: 3.2rem;
  font-weight: lighter;
}

h2 {
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 0.105rem;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 20px 0;
}

p {
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

nav {
  font-weight: 700;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0 0;
  padding-bottom: 30px;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}
form .formFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
form .formFlex input {
  display: inline-block;
  border: none;
  border-bottom: 2px solid #151514;
  width: 45%;
  padding: 20px 40px 25px;
}
form textarea {
  border: 2px solid #151514;
  margin: 40px 0 20px;
  padding: 40px 40px;
  resize: none;
}
form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}
form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}
form input::placeholder,
form textarea::placeholder {
  text-transform: uppercase;
  color: #151514;
  opacity: 1;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  width: 100%;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 auto;
          flex: 1 2 auto;
}
.navBar li {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 3 auto;
          flex: 1 3 auto;
}
.navBar li:hover, .navBar li:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.navBar .contactLi {
  padding-right: 0;
}
.navBar .navUnderline {
  border-bottom: 5px solid #F8FB05;
}
.navBar .logo {
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 0.06rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 3 30%;
          flex: 1 3 30%;
}

.homeLogo {
  visibility: hidden;
}

.indexHeader {
  background: url(../assests/header-home.jpg) center;
  padding-bottom: 470px;
  background-size: cover;
  background-position: right;
  position: relative;
  width: 100vw;
  height: auto;
}
.indexHeader h1 {
  padding-top: 10px;
  padding-left: 55px;
}
.indexHeader .blueChairsContainer {
  position: absolute;
  border: 2px solid green;
  -webkit-transform: translate(-260px, 55px);
          transform: translate(-260px, 55px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.indexHeader .blueChairsContainer .blueChairs {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-negative: 1.5;
      flex-shrink: 1.5;
}

.blogHeader {
  background-image: url(../assests/blog-image.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 330px;
}
.blogHeader h1 {
  margin-top: 130px;
}

.contactHeader {
  background: url(../assests/contact-image.jpg) no-repeat center;
  background-size: cover;
  height: auto;
  padding-bottom: 280px;
}
.contactHeader h1 {
  margin-top: 130px;
}

.materialsFlexContainer {
  border: 5px solid blue;
  padding-bottom: 140px;
  padding-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.materialsFlexContainer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid red;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.materialsFlexContainer .wrapper .materialsTextContainer {
  width: 60%;
}
.materialsFlexContainer .wrapper .materialsTextContainer .materialsImgContainer {
  width: 40%;
}

.materialsImg {
  -webkit-box-shadow: -15px 15px #F8FB05;
          box-shadow: -15px 15px #F8FB05;
}

.indexGallery {
  background-color: #E0FDDF;
}
.indexGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.indexGallery ul li {
  width: 31%;
  padding: 100px 0;
}

.indexIconsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
  border: 5px solid blue;
}
.indexIconsSection .iconsTextContainer {
  width: 50%;
  border: 5px solid red;
}
.indexIconsSection .iconsTextContainer .indexIconImg {
  text-align: center;
  line-height: 25px;
}
.indexIconsSection .iconsTextContainer .indexIconImg,
.indexIconsSection .iconsTextContainer .indexSvgImg {
  font-size: 24px;
  background-color: #F8FB05;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.indexSvgImg {
  max-height: 50px;
  min-width: 50px;
}

.iconsMarginBottom {
  margin-bottom: 60px;
}

.iconsTextContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.iconsTextContainer .flextest {
  width: 10%;
  border: 2px solid pink;
}
.iconsTextContainer .flextest2 {
  width: 90%;
  border: 2px solid lightblue;
  padding-left: 10px;
}

.indexProgramsSection {
  background-color: #E0FDDF;
  padding-top: 100px;
  padding-bottom: 80px;
}

.programsFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.locationSection {
  border: 2px solid orange;
  width: 44%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
  padding-top: 25%;
  position: relative;
}
.locationSection .locationImgContainer {
  position: absolute;
  top: -140px;
  left: -140px;
  width: calc(100% + 9vw);
}
.locationSection .locationImgContainer img {
  -webkit-box-shadow: 30px 30px 0px -4px #F8FB05;
          box-shadow: 30px 30px 0px -4px #F8FB05;
}

.programSection {
  width: 41%;
  position: relative;
}
.programSection .programImgContainer {
  border: 2px solid magenta;
  position: absolute;
  bottom: -110px;
  left: -30px;
  width: calc(100% + 7.3vw);
}
.programSection .programImgContainer img {
  -webkit-box-shadow: -30px 30px 0px -4px #F8FB05;
          box-shadow: -30px 30px 0px -4px #F8FB05;
}

.indexSearchStyle .styleTextContainer {
  text-align: center;
  padding: 150px 0;
}
.indexSearchStyle .styleTextContainer p {
  text-align: left;
  margin-bottom: 10px;
}
.indexSearchStyle .styleImg {
  width: 100%;
}

.blogMain,
.formBackground {
  background-color: #E0FDDF;
}

.blogMainFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogMainFlex .blogSection {
  width: 70%;
}
.blogMainFlex .asideContainer {
  width: 30%;
}

.blogArticle,
.commentSection {
  padding-left: 100px;
  padding-right: 50px;
}

.blogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 2px solid lightskyblue;
  -webkit-transform: translate(-110px, 0px);
          transform: translate(-110px, 0px);
  position: relative;
}

.blogImgContainer {
  -webkit-transform: translate(-25px, -160px);
          transform: translate(-25px, -160px);
  width: 97%;
  padding-left: 0px;
  position: absolute;
}

.blogImg {
  -webkit-box-shadow: 30px 30px 0px -5px #F8FB05;
          box-shadow: 30px 30px 0px -5px #F8FB05;
}

.blogTextContainer {
  padding-top: 440px;
}
.blogTextContainer p {
  padding: 10px 0;
  border: 1px solid plum;
}
.blogTextContainer h2 {
  padding-top: 50px;
}

.blogArticle {
  border-bottom: 10px solid #F8FB05;
  border-right: 10px solid #F8FB05;
  background-color: #F5F5F5;
  padding-bottom: 50px;
}

.commentSection {
  border: 2px solid blue;
  padding-bottom: 70px;
}
.commentSection h2 {
  padding: 50px 0 30px;
  margin-bottom: 0;
}

.comment1,
.comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid red;
}

.comment2 {
  margin-bottom: 60px;
  margin-top: 90px;
}

.comment1ImgContainer,
.comment2ImgContainer {
  min-width: 15%;
}

.comment1TextContainer,
.comment2TextContainer {
  padding-left: 25px;
}

.commentDate {
  text-transform: uppercase;
  font-weight: 700;
}

.asideContainer {
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  left: 50px;
  overflow-x: clip;
  margin-top: 120px;
}

.asideImgContainer {
  -webkit-transform: translate(22px, -40px);
          transform: translate(22px, -40px);
}

.asideImg {
  -webkit-box-shadow: -31px 20px 0px -9px #F8FB05;
          box-shadow: -31px 20px 0px -9px #F8FB05;
}

.asideTextContainer {
  background-color: #F8FB05;
  -webkit-transform: translate(0px, -50px);
          transform: translate(0px, -50px);
  padding-left: 25px;
  padding-bottom: 20px;
}

.asideList {
  list-style-type: disc;
  list-style-position: inside;
}

.mission {
  padding-bottom: 20px;
}

.mainContact {
  background-color: #E0FDDF;
}
.mainContact .contactPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactFormContainer {
  background-color: #F5F5F5;
  -webkit-box-shadow: 30px 30px 0px -10px #F8FB05;
          box-shadow: 30px 30px 0px -10px #F8FB05;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 570px;
  padding: 50px 60px 40px;
  -webkit-transform: translate(-25px, -170px);
          transform: translate(-25px, -170px);
}
.contactFormContainer input,
.contactFormContainer textarea {
  background-color: #F5F5F5;
}
.contactFormContainer textarea {
  padding: 40px 30px;
}

.contactInfo {
  color: #065635;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px);
}
.contactInfo .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}
.contactInfo .contactIcons .fa-brands {
  padding-right: 25px;
}
.contactInfo .contactIcons .fa-brands:hover, .contactInfo .contactIcons .fa-brands:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.contactInfo .contactEmail {
  padding: 25px 0 45px;
}
.contactInfo .contactEmail:hover, .contactInfo .contactEmail:focus {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

footer {
  background-color: #151514;
  color: #F5F5F5;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1100px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
  .headerNav {
    font-size: 0.85rem;
  }
  .contactPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactFormContainer {
    min-width: 98%;
    position: relative;
    left: 23px;
  }
  .contactInfo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    font-size: 0.9rem;
  }
  .formFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .formFlex input {
    min-width: 100%;
    font-size: 0.9rem;
  }
  form input::-webkit-input-placeholder, form textarea::-webkit-input-placeholder {
    opacity: 0.5;
  }
  form input::-moz-placeholder, form textarea::-moz-placeholder {
    opacity: 0.5;
  }
  form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
    opacity: 0.5;
  }
  form input::-ms-input-placeholder, form textarea::-ms-input-placeholder {
    opacity: 0.5;
  }
  form input::placeholder,
form textarea::placeholder {
    opacity: 0.5;
  }
  button:hover, button:focus {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  footer {
    font-size: 0.85rem;
    padding: 5px;
  }
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoint */
}